p.indented {
    text-indent: 50px;
} 

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 1200px;
    height: 900px; */
    margin: auto;
}

#all {
    /* width: 100%;
    margin: 10%; */
    display: flex;
    flex-direction: row;
}

#all .bar {
    /* float: left;
    width: 20%; */
    flex: 1;
}

#all .details {
    /* float: left;
    width: 60%;
    overflow: auto; */
    flex: 2;
}

a {
    color: #beb647;
    text-decoration: none;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
}

h6 {
    text-decoration: none;
}

  table {
    /* font-family: Verdana; */
    font-size: 14px;
    border-collapse: collapse;
    /* width: 100%; */
  }
  
  td, th {
    padding: 10px;
    text-align: left;
    margin: 0;
  }
  
  tbody tr:nth-child(2n){
    background-color: #eee;
  }

@media (max-width: 800px) {
    #all {
        flex-direction: column;
    }
    #all .bar, #all .details {
        flex: none;  /* Each div will take up the full width of the screen */
    }
}
  
  /* th {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
  } */

