p.indented {
    /* text-indent: 50px; */
    font-size: 0.8em;
} 

html {
    width: 100%;
    font-family: "Inter", "Segoe UI", Arial, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    width: 720px;
    /* height: 900px; */
    margin: 0 auto;
    line-height: 24px;
    /* align-items: center; */
    max-width: 100%;
}

.bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  padding: 20px;
  box-sizing: border-box;
}

/* First and Second divs */
.first {
  flex: 7;
}

.second {
  flex: 13;
}

.second img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Third div */
.third {
  margin-top: 20px;
}

@media only screen and (max-width: 420px) {
    body {
        width:99%;
    }
    .bar {
    flex-direction: column;
  }

  .first,
  .second {
    width: 100%;
  }

  .third {
    width: 100%;
  }
}

a {
    color: #beb647;
    text-decoration: none;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
}

h6 {
    text-decoration: none;
}

