body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1200px;
    margin: auto;
}

h2 {
    font-size: 12pt;
    font-weight: bold;
}

a {
    color: #beb647;
}

a:hover {
    text-decoration: underline;
}

p.indented {
    text-indent: 50px;
}
